#file: noinspection YAMLSchemaValidation
services:
    build_data_base:
        healthcheck:
            test: ["CMD-SHELL", "pg_isready", "-d", "$${POSTGRES_DB}", "-U", "$${POSTGRES_USER}"]
        build:
            context: ./
            dockerfile: task_batcher_storage_coordinator/common/build_data_base/Dockerfile
        ports:
            - 5433:5432
    storage:
        image: mongo
        container_name: storage
        ports:
            - 27018:27017
    http_tabasco:
        build:
            context: ./
            dockerfile: ./task_batcher_storage_coordinator/http/Dockerfile
        depends_on:
            storage:
                condition: service_started
            build_data_base:
                condition: service_healthy
        ports:
            - 8081:8080
    grpc_tabasco:
        build:
            context: ./
            dockerfile: ./task_batcher_storage_coordinator/grpc/Dockerfile
        depends_on:
            storage:
                condition: service_started
            build_data_base:
                condition: service_healthy
        ports:
            - 9091:9090
    broker:
        healthcheck:
            test: rabbitmq-diagnostics check_port_connectivity
        image: rabbitmq:management
        ports:
            - 5673:5672
            - 15673:15672
            - 25673:25672
    testing_processor:
        build:
            context: ./
            dockerfile: ./testing_processor/Dockerfile
        depends_on:
            broker:
                condition: service_healthy
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    tabasco_test:
        build:
            context: ./
            dockerfile: ./task_batcher_storage_coordinator/test/Dockerfile
        depends_on:
            grpc_tabasco:
                condition: service_started
            http_tabasco:
                condition: service_started
